@import 'core/variables';

* {
	box-sizing: border-box;
}

body {
	margin: auto;
}

// @import 'core/header'; aqui copiamos el partial del header y lo enlazamos arriba al main
.page__header {
	background-image: url("../images/cover.jpg");
	background-size: cover;
	height: 100%;
}

.header__nav {
	height: 44px;
	width: 44px;
	background-color:$color-ocean_blue;
	background-image: url(../icons/ico-menu.svg);
	background-repeat: no-repeat;
	background-position: center; 
	z-index: 1;
	position: fixed;
}

.header__hero {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 278px 15px 53px 15px;
	&-title {
		font-family: $font-family-primary;
		font-size: 42px;
		line-height: 55px;
		text-align: center;
		color: $color-white;
		margin: 0;
	}
	&-decription {
		font-family: $font-family-secundary;
		font-size: 16px;
		color: $color-white;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.header__buttom {
	height: 45px;
	width: 45px;
	background-color: $color-white;
	border-radius: 50%;
	background-image: url(../icons/ico-scroll-down.svg);
	background-repeat: no-repeat;
	background-position: center; 
	margin-top: 45px;
}

@media all and (min-width:768px) {
	.header__hero { 
		padding: 384px 39px 45px 39px;
		&-title {
			font-size: 80px;
			line-height: 106px;
		}
		&-decription {
			font-size: 24px;
			margin-top: 10px;
		}
	}
}

@media all and (min-width:1280px) {
	.header__hero { 
		padding: 384px 275px 13px 275px;
		&-title {
			font-size: 100px;
			line-height: 132px;
		}
		&-decription {
			margin-top: 0;
		}
	}
}

// @import 'core/header'; aqui terminamos de copiar el partial del header y lo enlazamos arriba al main


// @import 'core/main'; aqui copiamos el partial del header y lo enlazamos arriba al main
.page__main {
	&-tips {
		height: 376px;
		padding: 30px 15px 45px 15px;
	}
	&-tips-title {
		font-size: 14px;
		line-height: 30px;
		color: $color-light_blue;
		font-family: $font-family-secundary;
		font-weight: 100;
		margin: 0;
	}
	&-tips-claim {
		font-size: 24px;
		line-height: 30px;
		font-family: $font-family-primary;
		margin: 0;
	}
	&-tips-content {
		font-family: $font-family-secundary;
		font-size: 18px;
		line-height: 30px;
		color: #4a4a4a;
		margin-top: 15px;
		margin-bottom: 30px;
	}
	&-tips-button {
		height: 45px;
		width: 76px;
		border-radius: 22.5px;
		border: 2px solid $color-orange;
		background-color: $color-white;
		font-family: $font-family-secundary;
		font-size: 20px;
		color: $color-orange;
		text-align: center;
		line-height: 45px;
		&:hover {
			background-color: $color-orange;
			color: $color-white;
			transition: ease 1s;
		}
	}
}

.page__main {
	&-reasons {
		height: 624px;
		background-color: #eff9ff;
		padding: 30px 15px 60px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&-claim {
			font-family: $font-family-primary;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
			margin-bottom: 45px;
		}
		&-container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 93px 93px 93px;
			grid-gap: 45px;
			width: 184px;
			&-title {
				font-family: $font-family-primary;
				font-size: 18px;
				line-height: 45px;
				text-align: center;
				margin: 0;
			}
			&-description {
				font-family: $font-family-secundary;
				font-size: 18px;
				line-height: 30px;
				text-align: center;
				
			}	
		}
		&-container1{
			grid-row: span 1;
		}
		&-container2{
			grid-row: span 1;
		}
		&-container3{
			grid-row: span 1;
		}
		&-button {
			height: 45px;
			width: 184px;
			border-radius: 22.5px;
			background-color: $color-orange;
			color: $color-white;
			font-family: $font-family-secundary;
			font-size: 20px;
			line-height: 45px;
			text-align: center;
			margin-top: 45px;
			&:hover {
				background-color: $color-white;
				color: $color-orange;
				transition: ease 1s;
				border: solid 2px $color-orange;
			}
		}
	}

}

@media all and (min-width:768px) {
	.page__main {
		&-tips { 
			padding: 30px 39px 60px 39px;
		}
		&-tips-claim {
			font-size: 26px;
			line-height: 45px;
		}
		&-tips-content {
			font-size: 18px;
			margin-top: 30px;
		}
		&-tips-button {
			height: 45px;
			width: 91px;
		}
	}
	.page__main {
		&-reasons {
			height: 397px;
			padding: 30px 37px 60px 37px;
			display: flex;
			flex-direction: column;
			align-items: center;
			&-claim {
				font-size: 26px;
				line-height: 45px;
				margin-top: 0;
			}
			&-container {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 112px;
				grid-gap: 27.7px;
				width: 693px;
				&-title {
					font-size: 24px;
					margin-bottom: 14px;
				}
				&-description {
					font-size: 20px;
					margin: 0;
				}
			}
			&-button {
				width: 210px;
				margin-top: 60px;
			}
			&-container1 {
				grid-column: span 1;
			}
			&-container2 {
				grid-column: span 1;
			}
			&-container3	{
				grid-column: span 1;
			}	
		}
	}


@media all and (min-width:1280px) {
	.page__main {
		&-tips { 
			padding: 60px 275px;
		}
		&-tips-title {
			font-size: 16px;
		}
		&-tips-claim {
			font-size: 32px;
			line-height: 45px;
		}
		&-tips-content {
			font-size: 20px;
			line-height: 30px;
			margin-top: 30px;
		}
		&-tips-button {
			height: 45px;
			width: 160px;
		}
	}

	.page__main {
		&-reasons {
			height: 427px;
			padding: 60px 83px 60px 83px;
			&-claim {
				font-size: 32px;
				line-height: 45px;
				margin-top: 0;
			}
			&-container {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 112px;
				grid-gap: 30px;
				width: 1110px;
				&-title {
					font-size: 24px;
					margin-bottom: 14px;
				}
				&-description {
					font-size: 20px;
					margin: 0;
				}
			}
			&-button {
				width: 255px;
				margin-top: 60px;
			}
			&-container1 {
				grid-column: span 1;
			}
			&-container2 {
				grid-column: span 1;
			}
			&-container3 {
				grid-column: span 1;
			}	
		}
		}
	}
}

// @import 'core/main'; aqui terminamos de copiar el partial del header y lo enlazamos arriba al main


// @import 'core/footer'; aqui copiamos el partial del header y lo enlazamos arriba al main

.page__footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: $color-dark_blue;
	height: 465px;
	padding: 30px 86px 45px 86px;
	font-family: $font-family-secundary;
	line-height: 30px;
	color: $color-white;
	&-link {
		color: $color-white;
		text-decoration: none;
	}
	&-menu-list, &-socialmedia-list {
		list-style: none;
		font-size: 16px;
		line-height: 30px;
		padding-left: 0;
		margin-bottom: 30px;
	}
	&-copyright-year, &-copyright-company {
		margin:0;
	}
	&-heart {
		color: $color-orange;
	}
	&-buttom {
		height: 45px;
		width: 45px;
		background-color: $color-white;
		border-radius: 50%;
		background-image: url(../icons/ico-arrow.svg);
		background-repeat: no-repeat;
		background-position: center;
		z-index: 1;
		margin-bottom: 470px;
	}
	&-buttom-link {
		height: 45px;
		position: absolute;
		transform: translateY(-52px);
	}
	
}