    <footer class="page__footer" id="">
        <a href="#" title="way to header" class="page__footer-buttom-link">
                <button class="page__footer-buttom"> </button>
        </a>
        <section class="page__footer-issues">
            <nav class="page__footer-menu">
                <ul class="page__footer-menu-list">
                    <li class="page__footer-menu-articles"><a href="https://www.geledes.org.br/30-livros-para-ler-mais-escritoras-negras-em-2019" target="_blank" class="page__footer-link">ARTICLES</a></li>
                    <li class="page__footer-menu-books"><a href="https://www.yorokobu.es/creatividad" target="_blank" class="page__footer-link">BOOKS</a></li>
                    <li class="page__footer-menu-events"><a href="https://www.guiadelocio.com/madrid" target="_blank" class="page__footer-link">EVENTS</a></li>
                    <li class="page__footer-menu-reasons"><a href="http://nymag.com/intelligencer/2018/03/13-reasons-to-believe-aliens-are-real.html" target="_blank" class="page__footer-link">REASONS</a></li>
                    <li class="page__footer-menu-tips"><a href="https://www.webmd.com/balance/guide/tips-to-control-stress#1" target="_blank" class="page__footer-link">TIPS</a></li>
                </ul>
            </nav>
            <nav class="page__footer-socialmedia">
                <ul class="page__footer-socialmedia-list">
                    <li class="page__footer-socialmedia-twitter"><a href="https://twitter.com" target="_blank" class="page__footer-link">TWITTER</a></li>
                    <li class="page__footer-socialmedia-twitter"><a href="https://www.instagram.com" target="_blank" class="page__footer-link">INSTAGRAM</a></li>
                    <li class="page__footer-socialmedia-twitter"><a href="https://mastodon.social" target="_blank" class="page__footer-link">MASTODON.SOCIAL</a></li>
                </ul>
            </nav>
            <aside class="page__footer-copyright">
                <p class="page__footer-copyright-year">© 2017</p>
                <p class="page__footer-copyright-company">
                    we <span class="page__footer-heart"> ❤ </span>components</p>
            </aside>
        </section>
    </footer>