<header class="page__header">
    <nav class="header__nav">
       
    </nav>
    <div class="header__hero">
        <h1 class="header__hero-title">ANONYMOUS <br> PROXY</h1>
        <p class="header__hero-decription">In hac habitasse platea dictumst.</p>
        
        <a href="https://cybmeta.com/formas-basicas-con-css-triangulos-circulos-trapecios-rectangulos-cuadrados" class="header__buttom__icon" target="_blank" title="way to main section">
            <div class="header__buttom"> </div>
        </a>
                <!-- en el href colocar #id del id que le pongamos a la primera etiqueta de la sección siguiente, que será el main  -->
    </div>

</header>
