<main class="page__main" id="header-buttom-goes">
    <div class="page__main-tips">
        <h4 class="page__main-tips-title">Insomnia Tips</h4>
        <h2 class="page__main-tips-claim">Looking Through A Wi</h2>
        <p class="page__main-tips-content">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <div class="page__main-tips-button">Go</div> 
    </div>

    <div class="page__main-reasons">


    </div>
</main>
