// @import 'core/main'; aqui copiamos el partial del header y lo enlazamos arriba al main
.page__main {
	&-tips {
		height: 376px;
		padding: 30px 15px 45px 15px;
	}
	&-tips-title {
		font-size: 14px;
		line-height: 30px;
		color: $color-light_blue;
		font-family: $font-family-secundary;
		font-weight: 100;
		margin: 0;
	}
	&-tips-claim {
		font-size: 24px;
		line-height: 30px;
		font-family: $font-family-primary;
		margin: 0;
	}
	&-tips-content {
		font-family: $font-family-secundary;
		font-size: 18px;
		line-height: 30px;
		color: #4a4a4a;
		margin-top: 15px;
		margin-bottom: 30px;
	}
	&-tips-button {
		height: 45px;
		width: 76px;
		border-radius: 22.5px;
		background-color: $color-white;
		border: 2px solid $color-orange;
		font-family: $font-family-secundary;
		font-size: 20px;
		color: $color-orange;
		text-align: center;
		line-height: 45px;
		&:hover {
			background-color: $color-orange;
			color: $color-white;
			transition: ease 1s;
		}
	}
}

.page__main {
	&-reasons {
		height: 624px;
		background-color: #eff9ff;
		padding: 30px 15px 60px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&-claim {
			font-family: $font-family-primary;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
			margin-bottom: 45px;
		}
		&-container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 93px 93px 93px;
			grid-gap: 45px;
			width: 184px;
			&-title {
				font-family: $font-family-primary;
				font-size: 18px;
				line-height: 45px;
				text-align: center;
				margin: 0;
			}
			&-description {
				font-family: $font-family-secundary;
				font-size: 18px;
				line-height: 30px;
				text-align: center;
				margin: 0;
			}	
		}
		&-container1{
			grid-row: span 1;
		}
		&-container2{
			grid-row: span 1;
		}
		&-container3{
			grid-row: span 1;
		}
		&-button {
			height: 45px;
			width: 184px;
			border-radius: 22.5px;
			background-color: $color-orange;
			color: $color-white;
			font-family: $font-family-secundary;
			font-size: 20px;
			line-height: 45px;
			text-align: center;
			margin-top: 45px;
			&:hover {
				background-color: $color-white;
				color: $color-orange;
				transition: ease 1s;
				border: solid 2px $color-orange;
			}
		}
	}

}

@media all and (min-width:768px) {
	.page__main {
		&-tips { 
			padding: 30px 39px 60px 39px;
		}
		&-tips-claim {
			font-size: 26px;
			line-height: 45px;
		}
		&-tips-content {
			font-size: 18px;
			margin-top: 30px;
		}
		&-tips-button {
			height: 45px;
			width: 91px;
		}
	}
	.page__main {
		&-reasons {
			height: 397px;
			padding: 30px 37px 60px 37px;
			display: flex;
			flex-direction: column;
			align-items: center;
			&-claim {
				font-size: 26px;
				line-height: 45px;
				margin-top: 0;
			}
			&-container {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 112px;
				grid-gap: 27.7px;
				width: 693px;
				&-title {
					font-size: 24px;
					margin-bottom: 14px;
				}
				&-description {
					font-size: 20px;
					margin: 0;
				}
			}
			&-button {
				width: 210px;
				margin-top: 60px;
			}
			&-container1 {
				grid-column: span 1;
			}
			&-container2 {
				grid-column: span 1;
			}
			&-container3	{
				grid-column: span 1;
			}	
		}
	}


@media all and (min-width:1280px) {
	.page__main {
		&-tips { 
			padding: 60px 275px;
		}
		&-tips-title {
			font-size: 16px;
		}
		&-tips-claim {
			font-size: 32px;
			line-height: 45px;
		}
		&-tips-content {
			font-size: 20px;
			line-height: 30px;
			margin-top: 30px;
		}
		&-tips-button {
			height: 45px;
			width: 160px;
		}
	}

	.page__main {
		&-reasons {
			height: 427px;
			padding: 60px 83px 60px 83px;
			&-claim {
				font-size: 32px;
				line-height: 45px;
				margin-top: 0;
			}
			&-container {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 112px;
				grid-gap: 30px;
				width: 1110px;
				&-title {
					font-size: 24px;
					margin-bottom: 14px;
				}
				&-description {
					font-size: 20px;
					margin: 0;
				}
			}
			&-button {
				width: 255px;
				margin-top: 60px;
			}
			&-container1 {
				grid-column: span 1;
			}
			&-container2 {
				grid-column: span 1;
			}
			&-container3 {
				grid-column: span 1;
			}	
		}
		}
	}
}

// @import 'core/main'; aqui terminamos de copiar el partial del header y lo enlazamos arriba al main
