$color-white: #f3f4f5;
$color-orange: #f26002;
$color-light_blue: #8ccbea;
$color-ocean_blue: #0271bc;
$color-dark_blue: #304268;

$font-family-primary:'Roboto Slab', serif;
$font-family-secundary:'Roboto', sans-serif;
